# This file was updated by Duplicator on 2025-06-17 09:05:49.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
# Các nội dung nằm giữa "BEGIN WordPress" và "END WordPress" được tạo ra tự động, và chỉ nên được thay đổi thông qua các filter của WordPress. Mọi thay đổi tới thành phần này có thể sẽ bị mất và ghi đè.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /VNPay/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /VNPay/index.php [L]
</IfModule>
## EXPIRES CACHING ##
<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

# END WordPress